{{- if and .Values.secrets.create (not .Values.existingSecret) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "opsagent.secretName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "opsagent.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if .Values.secrets.aws.accessKeyId }}
  aws-access-key-id: {{ .Values.secrets.aws.accessKeyId | quote }}
  {{- end }}
  {{- if .Values.secrets.aws.secretAccessKey }}
  aws-secret-access-key: {{ .Values.secrets.aws.secretAccessKey | quote }}
  {{- end }}
  {{- if .Values.secrets.azure.clientId }}
  azure-client-id: {{ .Values.secrets.azure.clientId | quote }}
  {{- end }}
  {{- if .Values.secrets.azure.clientSecret }}
  azure-client-secret: {{ .Values.secrets.azure.clientSecret | quote }}
  {{- end }}
  {{- if .Values.secrets.azure.tenantId }}
  azure-tenant-id: {{ .Values.secrets.azure.tenantId | quote }}
  {{- end }}
  {{- if .Values.secrets.azure.subscriptionId }}
  azure-subscription-id: {{ .Values.secrets.azure.subscriptionId | quote }}
  {{- end }}
  {{- if .Values.secrets.github.token }}
  github-token: {{ .Values.secrets.github.token | quote }}
  {{- end }}
  {{- if .Values.secrets.notifications.teamsWebhookUrl }}
  teams-webhook-url: {{ .Values.secrets.notifications.teamsWebhookUrl | quote }}
  {{- end }}
  {{- if .Values.secrets.notifications.slackWebhookUrl }}
  slack-webhook-url: {{ .Values.secrets.notifications.slackWebhookUrl | quote }}
  {{- end }}
{{- end }}
